#panda{
  display: none;
  font-size: 25px;
  color: blue;
}

#alligator{
  display: none;
  font-size: 25px;
  color: blue;
}

#marmoset{
  display: none;
  font-size: 25px;
  color: blue;
}

#wronganimal {
  display: none;
  font-size: 25px;
  color: blue;
}
